.synthiGen__datagenerator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    background: radial-gradient(circle at 11% 89%, rgba(6, 10, 33, 0.76) 0%, rgba(24, 34, 70, 0.88) 50%, rgba(24, 34, 70, 0.88) 51%, rgba(58, 62, 86, 0.97) 100%);
    color: beige;
}

.synthiGen__datagenerator h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
}

.synthiGen__datagenerator label {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.synthiGen__datagenerator select {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
    outline: none;
    background: #653361;
    border: 2px solid #704f6d;
    padding: 0.5rem 1rem;
    border-radius: 0px 4px 4px 0px;
    color: beige;
    margin-bottom: 10px;
}

.synthiGen__datagenerator .synthiGen__header-content__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.synthiGen__datagenerator table {
    width: 100%;
    border-collapse: collapse;
}

.synthiGen__datagenerator table th,
.synthiGen__datagenerator table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.synthiGen__datagenerator table th {
    background: #653361;
    color: beige;
}

.synthiGen__datagenerator table input,
.synthiGen__datagenerator table select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.synthiGen__datagenerator table select {
    padding: 10px;
}



.synthiGen__datagenerator button {
    padding: 0.5rem 1.5rem;
    /* Increased padding for a bigger button */
    color: #fff;
    background: #61515f;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    /* Increased font size */
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
    /* Add some vertical margin for spacing */
}

.synthiGen__datagenerator button:hover {
    background: #6f5e6e;
    /* Change the background color on hover if needed */
}