.synthiGen__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.synthiGen__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.synthiGen__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.synthiGen__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.synthiGen__navbar-links_container p,
.synthiGen__navbar-sign p,
.synthiGen__navbar-menu-container p {
    color: beige;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.synthiGen__navbar-sign button,
.synthiGen__navbar-menu_container button {

    left: 1153px;
    top: 55px;
    padding: 0.5rem 1rem;
    color: #fff;
    background: #653361;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}