.synthiGen__whatSynthiGen {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);
    background: radial-gradient(circle at 26% 47%, rgba(29, 33, 55, 0.76) 0%, rgba(50, 59, 88, 0.88) 55%, rgba(58, 62, 86, 0.97) 100%);
    filter: drop-shadow(0px 4px 4px rgba(226, 210, 210, 0.25));
}

.synthiGen__whatSynthiGen-feature {
    display: flex;
}

.synthiGen__whatSynthiGen-feature .synthiGen__features-container__feature {
    margin: 3;
}

.synthiGen__whatSynthiGen-feature .synthiGen__features-container_feature-text {
    max-width: 700px;
}


.synthiGen__whatSynthiGen-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 4rem 0 2rem;
}

.synthiGen__whatSynthiGen-heading h1 {
    font-size: 34px;
    line-height: 40px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}

.synthiGen__whatSynthiGen-container {
    display: center;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}